body{
	background-color: #A5BECC;
}
hr{
			border-style: dotted none none;
			border-color: grey;
			border-width: 2px;
		}
h1{
	color: #243A73;
}
h2{
	color: #243A73;
}
h3{
	color: #243A73;
}